# Setup
title: Department of Mathematics and Statistics
tagline: Northern Arizona University
url: 'http://NAUMathStat.github.io'
paginate: 1
baseurl: 'DoMS-Misc'
permalink: pretty

# Gems
plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-seo-tag

# Optimize Jekyll
exclude:
  - .editorconfig
  - .git
  - .jekyll-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md

sass:
  sass_dir: _sass
  style: :compressed

# Options

# Replace this value and uncomment to enable Google Analytics tracking
# ga_analytics: UA-000000-0

# Specify the author for blog posts
author:
  name: Department of Mathematics and Statistics
  url: https://math.nau.edu

# Custom vars
version: 3.0.0
